
<div class="row">
  <div class=' col-md-offset-4 col-md-4' style='text-align: center'>
    <h4> Details für diesen Eintrag</h4>
    <mat-card class="example-card" *ngIf="entry">
      <div class="topDiv">
        <mat-card-header>
          <!-- <div mat-card-avatar>
          <mat-icon class="header-image">contacts</mat-icon>
        </div> -->

          <!-- class="example-header-image"-->
          <mat-card-title>{{entry.forename +' '+ entry.name}}</mat-card-title>
          <mat-card-subtitle *ngIf="entry.mobile">
            <mat-icon>smartphone</mat-icon> Mobil: {{entry.mobile}}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="entry.work">
            <mat-icon>phone</mat-icon>Arbeit: {{entry.work}}</mat-card-subtitle>
          <div class="example-header-image"></div>
        </mat-card-header>
        <!-- <img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p *ngIf="entry.email">Email: {{entry.email}} </p>
          <p *ngIf="entry.adress">Adresse: {{entry.adress}} </p>
          <p *ngIf="entry.zip">PLZ: {{entry.zip}} </p>
          <p *ngIf="entry.town">Stadt: {{entry.town}} </p>
        </mat-card-content>
      </div>
      <div class="bottomDiv">


        <mat-card-actions>
          <button mat-mini-fab color="primary"><mat-icon (click)="editEntry(entry)">edit</mat-icon></button>
          <button mat-mini-fab color="primary"><mat-icon (click)="openConfirmDialog(entry)">delete</mat-icon></button>
        </mat-card-actions>
      </div>
    </mat-card>

    <!-- <div *ngIf="entry" class="adressBox">
      <h4>Details für {{ entry.forename +' '+ entry.name  }} </h4>
      <div class="adressProps row">
        <span>id: </span>{{entry.id}}
        <span *ngIf="entry.mobile">Mobil: </span>{{entry.mobile}}
        <span *ngIf="entry.work">Arbeit: </span>{{entry.work}}
        <span *ngIf="entry.adress">id: </span>{{entry.adress}}
        <span *ngIf="entry.zip">id: </span>{{entry.zip}}
        <span *ngIf="entry.email">id: </span>{{entry.email}}
      </div> -->
    <!-- <mat-icon svgIcon="edit"></mat-icon> -->
    <!-- <mat-icon>edit</mat-icon>
      <mat-icon>delete</mat-icon> -->
    <!-- <div class="row">
      <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
      <button mat-mini-fab color="primary"><mat-icon>delete</mat-icon></button>
    </div> -->
    <!-- <mat-icon>edit</mat-icon>
    <button mat-icon-button color="primary">edit
    <mat-icon svgIcon="edit"></mat-icon>
  </button>
  <button mat-icon-button color="primary">
  <mat-icon svgIcon="delete"></mat-icon>
</button>
<mat-icon svgIcon="ic_mode_edit_black_24px"></mat-icon> -->

  </div>
  <div class="col-md-1">
    <button mat-button color="primary" (click)="goBack()">Zurück</button>
  </div>
</div>

<!-- </div> -->
