<div class="row">
  <div class=' col-md-offset-3 col-md-6' style='text-align: center'>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="User" value="" type="text">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Login" value="" type="password">
  </mat-form-field>
  <button mat-icon-button color="primary">
      <mat-icon aria-label="Submit">send</mat-icon>
    </button>
</form>

</div>
</div>
