<div style="text-align:center">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" position="end" [(opened)]="opened">

      <mat-nav-list>

        <button mat-menu-item (click)="openConfirmDialog()">
          <mat-icon>cached</mat-icon>
          <span>Reset</span>
        </button>
        <button mat-menu-item (click)="openGit()">
          <mat-icon>Github</mat-icon>
          <span>Github</span>
        </button>
      </mat-nav-list>

    </mat-sidenav>


    <mat-sidenav-content>
      <app-navbar></app-navbar>

      <div class="hiddenSpace"></div>
      <h2>
        Mein Adressbuch
      </h2>



      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
