  <mat-toolbar color="primary">
    <span>
      <nav>
        <a routerLink="/adresses">
          <mat-icon class="header-link">home</mat-icon>
        </a>
      </nav>
    </span>
    <span class="example-spacer"></span>
    <span *ngIf = "loading">
      <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
      </mat-progress-spinner>
    </span>
    <span><button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button></span>
  </mat-toolbar>

